body {
	width: 7500px;
	font-family: Arial;
	padding-left: 2em;
	font-size: 1.2em;
	line-height: 1.4;
	color: #333;
}

h2 {
	padding-left:1em;
}

h3 {
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
}

ul {
	list-style-type: none;
}

ul li {
	background: url(icon_grn_box.gif) no-repeat 0 8px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: -30px;
}

header {
}

.intro {
	width: 350px;
	margin-right: 2em;
	color: rgba(0, 0, 0, .5);
}

.stage {
	display: inline-block;
	margin-top: 26px;
	min-width: 200px;
	vertical-align: top;
}

.stage-summary, .templates, .resources {
	width: 270px;
	float: left;
	padding-right: 2.2em;
}

.steps, .more-steps {
	width: 270px;
	margin-left: 332px;
	min-height: 160px;
}

.stage-summary, .steps {
	min-height: 250px;
	padding: 0 3em;
	margin-bottom: 1em;
}

.templates, .more-steps {
	padding: 0.8em 3em 1em 3em;
}

ul.includes, ol.includes {
	margin-top: 2em;
}

.clearfix {
	clear: both;
	width: 100%;
	border-top: solid 2px #7c7e7f;
}

.post-stage {
	display: inline-block;
	margin-top: 220px;
	padding: 1.2em 2.4em 1em 1.4em;
	vertical-align: top;
	background: rgba(143,136,132,0.3);
	max-width: 190px;
}

a {
	text-decoration: none;
	color: black;
	padding: 1px 2px;
}

	a.resource { background-color: rgba(255,229, 82,.4); }
		a.resource:hover { background-color: rgba(255,229, 82,1); }

	a.template { background-color: rgba(255,143,40,0.3); }
		a.template:hover { background-color: rgba(255,143,40,0.8); }

	a.external-template { background-color: rgba(0,163,173,0.6) }

.resources {
	border-top: none;
	padding-top: 0;
	padding-left: 3em;
	height: auto;
}