body {
	width: 90%;
	max-width: 42em;
	font-family: Arial;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.3em;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.7);
}

h2 {
	margin-top: 1.5em;
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.7);
}

h3 {
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

ul li {
	background: url(icon_grn_box.gif) no-repeat 0 10px;
	padding-left: 16px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: -30px;
}

.stage-summary, .steps {
	margin-bottom: 1em;
}

.steps {

}

ul.includes, ol.includes {
	margin-top: 2em;
}

.post-stage {
	margin-top: 2em;
	padding: 0.8em 1.4em;
	background: rgba(143,136,132,0.2);
}

a {
	text-decoration: none;
	color: black;
	padding: 1px 2px;
}

	a.resource { background-color: rgba(255,229, 82,.4); }
		a.resource:hover { background-color: rgba(255,229, 82,1); }

	a.template { background-color: rgba(255,143,40,0.3); }
		a.template:hover { background-color: rgba(255,143,40,0.8); }

	a.external-template { background-color: rgba(0,163,173,0.6) }

.resources {
	border-top: none;
	padding-top: 0;
	padding-left: 3em;
	height: auto;
}

.footnote {
	margin-top: 6em;
}